.qustions-card {
    border-radius: 24px;
}

.qustions-card svg {
    filter: invert(1);
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    border-radius: 24px;
    background-color: var(--gray);
    cursor: pointer;
}

.question-header:has(.rotated) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.answer {
    padding: 10px 30px;
    border-radius: 30px;
    background-color: var(--secondary);
    color: var(--white);
    transition: all 0.3s ease;
    overflow: hidden;
}

.answer.hidden {
    display: none;
}

.answer.expanded {
    max-height: 500px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    opacity: 1;
}

.rotated {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.questions-form-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 24px;
    padding: 20px 30px;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: 24px;
}

.qustions-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.qustions-form textarea {
    padding: 5px 10px;
    margin-top: 15px;
    margin-bottom: 5px;
    border-radius: 24px;
}

.btn {
    background-color: var(--primary);
    color: var(--white);
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 24px;
    border: none;
}