.event-page {
    max-width: 800px;
    margin: 0 auto;
}

.event-page .event-author {
    margin: 0;
}

.event-page h2 {
    margin-bottom: 5px;
}

.event-page .event-image {
    height: auto;
    margin-bottom: 20px;
    border-radius: var(--brs-md);
}

.event-description {
    margin: 20px 0;
    line-height: 1.6;
}
