.bottom-nav {
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
}

.nav-item.active {
    background-color: var(--white);
}

.nav-item.active span {
    color: var(--secondary);
}

.nav-item.active svg {
    filter: invert(1) saturate(100%);
}

.nav-item span {
    color: var(--gray);
    font-size: 12px;
}