.courses-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 90px);
  overflow: auto;
}

.courses {
  cursor: pointer;
 }

.course-card:hover .start-btn {
  background-color: var(--primary);
}

.course-card {
  overflow: hidden;
  margin-bottom: 20px;
}

.course-header {
  background: var(--primary);
  color: var(--white);
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.course-body {
  background: var(--secondary);
  color: var(--white);
  padding: 10px 20px;
}

.course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-btn {
  padding: 10px 8px;
  border-radius: var(--brs-md);
  font-size: var(--fs-s);
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: var(--fs-xs);
}

.tag img {
  width: 24px;
  height: 24px;
}