.courses-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100% - 150px);
  overflow: auto;
}

.courses {
  cursor: pointer;
 }

.course-card:hover .start-btn {
  background-color: var(--primary);
}

.course-card {
  overflow: hidden;
  margin-bottom: 20px;
}

.course-header {
  background: var(--primary);
  color: var(--white);
  padding: 20px 30px;
  display: flex;
  align-items: center;
}

.course-body {
  background: var(--secondary);
  color: var(--white);
  padding: 30px;
}

.course-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.start-btn {
  padding: 10px 8px;
  border-radius: 24px;
  font-size: 20px;
  color: var(--white);
  text-decoration: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.tag {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
}

.tag img {
  width: 24px;
  height: 24px;
}

.link {
  padding: 0 20px 20px;
}
