.survey {
    padding: 5px;
}

.survey-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.survey-input {
    width: 100%;
    padding: 16px 24px;
    border-radius: var(--brs-md);
    font-size: var(--fs-s);
    color: var(--secondary);
}

.survey-input::placeholder {
    font-size: var(--fs-s);
    color: var(--secondary);
}

.survey-input:focus {
    outline: none;
    border: 2px solid var(--logo-bg);
}

.survey-question.error h2 {
    margin-bottom: 0;
}

.survey-question h2 {
    font-size: 18px;
    margin-top: 20px;
}

.error-text {
    color: var(--danger);
    font-size: var(--fs-xxs);
    margin: 4px 0 10px;
}

.congrats-modal {
    .modal {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    p {
        margin-bottom: 16px;
    }
}