.bottom-nav {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: var(--secondary);
    color: var(--white);
    position: fixed;
    bottom: 0;
}

.icon-with-badge {
    position: relative;
    display: inline-block;
}

.nav-item .icon-with-badge .badge-events-count {
    top: -6px;
    right: -8px;
    color: var(--white);
    font-size: 10px;
}

