.quiz h2 {
    font-size: var(--fs-md);
}

.quiz-intro {
    background: var(--primary-transparent);
    padding: 15px 20px;
    border-radius: var(--brs-md);
}

.quiz-intro p,
.quiz-intro h3 {
    margin-bottom: 10px;
}

.quiz-intro strong {
    font-weight: 500;
}

.quiz-container main {
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border: 8px solid transparent;
}

.quiz-container main:has(.btn-incorrect) {
    animation: flash-red 2s ease-out forwards;
}

.quiz-container main:has(.btn-correct) {
    animation: flash-green 2s ease-out forwards;
}

@keyframes flash-red {
    0% {
        border-color: var(--danger);
    }
    100% {
        border-color: transparent
    }
}

@keyframes flash-green {
    0% {
        border-color: var(--success);
    }
    100% {
        border-color: transparent }
}