.bottom-nav {
    display: flex;
    justify-content: space-evenly;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 5px 10px;
    border-radius: var(--brs-sm);
    text-decoration: none;

    svg {
        fill: var(--gray-200);
    }

    span {
        color: var(--gray-200);
        font-size: var(--fs-xxs);
    }
}

.nav-item.active {
    svg {
        fill: var(--white);
    }

    span {
        color: var(--white);
    }
}