.link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    margin-top: auto;
    background: var(--secondary);
    color: var(--white);
    border-radius: var(--brs-md);
    text-decoration: none;
}

.link-title {
    margin-bottom: 4px;
    font-weight: 500;
    font-size: var(--fs-s);
}

.link-subtitle {
    font-size: var(--fs-xs);
    color: var(--gray);
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--fs-md);;
}