:root {
  --secondary: #1F1F1F;
  --primary: #4185f4;
  --bg: #3284FF;
  --white: #fff;
  --gray: #c6c6c6;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #D9D9D9;
  font-family: 'Arial', serif;
}

#root {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  height: 100%;
  margin-inline: auto;
  background-color: var(--bg);
}

main {
  flex-grow: 1;
  padding: 50px 40px;
  height: calc(100% - 80px);
  background-color: var(--white);
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
  overflow: auto;
}

a {
  text-decoration: none;
}

.logo {
  width: 200px;
  margin-right: 10px;
}

.header-logo {
  margin: auto;
}

h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.card {
  border-radius: 24px;
}

.card-title {
  font-size: 22px;
  margin-bottom: 10px;
}

.content {
  overflow: auto;
  height: calc(100% - 80px);
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.badge {
  background-color: white;
  color: black;
  font-size: 12px;
  padding: 4px 10px;
  border-radius: 999px;
  font-weight: 500;
  white-space: nowrap;
}

.btn {
  background-color: var(--primary);
  color: var(--white);
  font-size: 16px;
  padding: 10px 15px;
  border-radius: 24px;
  border: none;
}
