.header {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.header-text {
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

.header h2 {
    font-size: var(--fs-xxxl);
    margin-bottom: 0;
    line-height: 1.1;
}

.header .username {
    font-size: var(--fs-s);
    line-height: 1;
    color: var(--gray-100);
}

.header .image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 38px;
    height: 38px;
    background-color: var(--white);
    border-radius: 50%;
}

.header svg {
    fill: var(--logo-bg);
}