.header {
    display: flex;
    gap: 20px;
    padding: 40px;
    color: var(--white);
}

.avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.header h1 {
    font-size: 26px;
    margin-bottom: 8px;
}

.header p {
    font-size: 24px;
}