.questions-card {
    border-radius: var(--brs-md);
}

.question-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 14px 24px;
    border-radius: var(--brs-md);
    background-color: var(--secondary);
    cursor: pointer;

    p {
        font-size: var(--fs-l);
    }

    svg {
        fill: var(--secondary);
        rotate: 180deg;
    }
}

.question-header:has(.rotated) {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.question-header span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
    background-color: var(--white);
    border-radius: 50%;
    flex-shrink: 0;
    rotate: 180deg;
}

.answer {
    padding: 18px 24px;
    border-radius: var(--brs-md);
    background-color: var(--white);
    color: var(--secondary);
    transition: all 0.3s ease;
    overflow: hidden;
    font-weight: 400;
}

.answer.hidden {
    display: none;
}

.answer.expanded {
    max-height: 500px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    opacity: 1;
}

.rotated {
    transform: rotate(90deg);
    transition: transform 0.3s ease;
}

.questions-form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
    padding: 24px;
    background-color: var(--secondary);
    color: var(--white);
    border-radius: var(--brs-md);
}

.questions-text {
    display: flex;
    gap: 14px;
}

.content .questions-wrapper {
    gap: 12px;
    flex-grow: 1;
}

.questions-form-wrapper .btn {
    width: 100%;
    display: block;
    padding: 6px 22px;
    background-color: var(--white);
    color: var(--secondary);
    text-align: center;
    font-size: var(--fs-l);
    line-height: 1;
}

.questions-form-wrapper .btn.disabled {
    color: var(--gray-200);
    cursor: not-allowed;
}

.questions-form-wrapper .btn svg {
    fill: var(--logo-bg);
    margin-left: 8px;
}

.questions-form-wrapper h3 {
    font-size: var(--fs-xl);
    line-height: 1;
}

.qustions-form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    margin-top: 12px;
}

.qustions-form textarea {
    flex-grow: 1;
    padding: 5px 10px;
    border-radius: var(--brs-sm);
}

.qustions-form button {
    background-color: transparent;
    border: none;
}

.questions-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
}