.levels-wrapper {
    display: flex;
    height: calc(100% - 90px);
}

.card.level-select {
    overflow: auto;

    .card-header {
        padding: 20px 26px 17px 26px;
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .card-body {
        padding: 28px 18px;
        border-bottom-left-radius: var(--brs-md);
        border-bottom-right-radius: var(--brs-md);
        border: 1px solid transparent;
        transition: border 0.3s ease;
    }

    .levels {
        display: block;
        padding: 10px;
        border-radius: var(--brs-sm);
    }

    .level-name {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: var(--fs-l);
        line-height: 1.125;
        color: var(--white);

        svg {
            width: 12px;
            height: 12px;
            fill: var(--white);
        }
    }

    .levels.active {
        background-color: var(--gray-600);

        .level-name {
            color: var(--logo-bg);
        }

        svg {
            fill: var(--logo-bg);
        }
    }

    .level-description:not(:empty) {
        font-size: var(--fs-s);
        margin-top: 12px;
        color: var(--gray-200);
        font-weight: 400;
    }

    .levels:not(:last-child) {
        margin-bottom: 16px;
    }
}

.level-select.error .card-body {
    border: 1px solid var(--danger-dark);
}

.btn.levels-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: auto;
    font-size: 20px;

    svg path {
        width: 100%;
        height: 100%;
        fill: var(--white);
    }
}

.btn.levels-btn:disabled {
    background-color: var(--gray-400);
}

.error-text {
    color: #ed6363;
    margin-top: 12px;
    text-align: center;
    font-size: 14px;
}
