.events-wrapper {
  flex-grow: 1;

  .new-price {
    font-size: var(--fs-s);
  }

  .btn-dropdown {
    font-size: var(--fs-s);
  }
}

.events-wrapper .tag svg {
  fill: var(--green);
}

.event-card {
  text-decoration: none;
}

.event-image {
  max-width: 100%;
  aspect-ratio: 2.22;
  margin-bottom: 12px;
  object-fit: cover;
  display: block;
  border-radius: var(--brs-md);
}

.event-info {
  color: var(--white);
}

.event-title {
  font-size: var(--fs-xxl);
  margin-bottom: 16px;
}

.event-show-more {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.event-description {
  color: var(--gray-200);
  margin-bottom: 12px;
}